:root {
  --color-primary: #00bcd4;
  --color-secondary: #fafafa;

}
@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_Roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_BoldItalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0; padding:0;
}

html {
  font-family: 'Cadman';
}
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 5px;
  margin: 0 0 5px;
}

a.project-tile {
  display: block;
  height: 10em;
  width:  300px;
  padding: 10px;
  margin: 10px 20px;
  box-shadow: 0 0 5px teal;
  transition: box-shadow 150ms;
  text-decoration: inherit;
  color: inherit;
}
a.project-tile:hover {
  box-shadow: 0 0 15px teal;

}
'
button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  transition: all 150ms;
}
input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
}
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid var(--color-primary); 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: var(--color-primary); 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--color-primary); 
  color: #ffffff; 
}