:root {
  --color-primary: #00a0ff;
  --color-secondary: #00d1b2;
  --color-tertiary: #ffa800;
  --color-quaternary: #ff0080;

}
@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_Roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face{ 
	font-family: 'Cadman';
	src: url('../fonts/Cadman_BoldItalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0; padding:0;
}

html {
  font-family: 'Cadman';
}
.object-list {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 15px;
  margin: 5px;
}

.object-tile {
  display: block;
  height: 10em;
  width:  300px;
  text-decoration: inherit;
  color: inherit;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.project-detail {
  display: flex;
  flex-direction: column;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 250ms;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.object-tile:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: var(--color-primary);

  border-radius: 4px;
  padding: 1em;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {

}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}


button, select, option {
  background: var(--color-secondary);
    padding: 10px;

  margin: 0;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  transition: all 150ms;
}
input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-size: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid var(--color-primary); 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: var(--color-primary); 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: var(--color-primary) !important; 
  color: #ffffff; 
}

.time-sheet tr {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
}